@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/* 

O body sempre vem com uma margem padrão

*/
body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

/* 

body * - O * garante a alteração para toda a pagina

*/
body * {
    box-sizing: border-box;
}

/* 

Algumas descrições para estudos futuros:

Width - Altura
VW - View Port Width

Heiht - Largura
VH - View Port Heiht

Display: flex; - Sessão com os conteúdos distribuidos horizontalmente

Justify-content: center; - Alinhamento no eixo X ( horizontal )
Align-itens: center; - Alinhamento no eixo Y ( vertical )

*/
.main-login {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 

Flex-direction: column; - Direcionamento dos conteúdos da sessão em coluna
Justify-content: center; - Alinhamento no eixo y ( vertical )
Align-itens: center; - Alinhamento no eixo x ( horizontal )

*/
.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 

.left-login > h1 - O sinal de > chama a tag na sessão e edita ( se houver mais de uma tag na sessão, todas serão alteradas )

*/
.left-login > h1 {
    color: #77ffc0;
}

.left-login-img {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 

Width: 60%; - Se a sessão tem 50vw para garantir um melhor encaixe dos itens de dentro usamos %

Padding: 30px ( primeiro valor referente ao eixo Y ) 35px; ( segundo valor referente ao eixo X )

Box-shadow: 0px ( primeiro valor referente ao eixo x ) 10px ( segundo valor referente ao eixo Y ) 40px ( terceiro valor referente ao eixo Bluor ) #00000056 ( quarto valor referente a cor ); 

font-weight: 800; - Grossura

*/

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: #00ff88;
    font-size: 3vw;
    font-weight: 800;
    margin: 0;
}

/* 

align-items: flex-start; - Alinamento da esquerda pra direita

*/
.textfield {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

/* 

font-size: 12px; - Tamanho de fonte

outline: none; - Quadrado que fica envolta do input após click

box-sizing:( Tamanho da Caixa ) border-box; ( Delimita a Caixa ) Cria uma barreira entre a DIV pai e a DIV filho

*/
.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12px;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

/* 

.textfield > input::placeholder - :: chama algo dentro do elemento

*/
.textfield > input::placeholder {
    color: #f0ffff94;
}

/* 

text-transform: uppercase; - Maiusculo

letter-spacing: 3px; - Espaçamento entre letras

cursor: pointer; - Ao passar o mause em cima do botão ele muda para pounter

box-shadow: 0px ( eixo Y ) 10px ( eixo X ) 40px ( raio de desfoque ) -12px ( raio de propagação ) #00ff8052; ( cor )

*/
.btn-login {
    width: 100%;
    padding: 15px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

/* 

@media only screen and (max-width: 950px) - Quebra pra otimização responsiva 

*/
@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }
    .left-login > h1 {
        display: none;
    }
    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }
    .left-login-img {
        width: 50vw;
    }
    .card-login {
        width: 90%;
    }
}